<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
   <!-- 定义全局样式参数 -->
   <property name="layout" value="%d{MM-DD HH:mm:ss.SSS} %-5level - %msg%n" />
   <property name="log.base" value="logs/" />
   <!-- 输出到控制台 -->
   <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>error</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
      </filter>
　　　 <encoder>
　　　    <pattern>${layout}</pattern>
　　　 </encoder>
　　</appender>
   <!-- 注册日志 -->
   <appender name="Register" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${log.base}/register_%d{yyyyMMdd}.log</fileNamePattern>
      </rollingPolicy>
      <!-- 日志输出的文件的格式 -->
      <encoder>
　　　　　 <pattern>${layout}</pattern>
　　　　</encoder>
　　</appender>
   
   <!-- 登录日志 -->
   <appender name="Login" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${log.base}/login_%d{yyyyMMdd}.log</fileNamePattern>
      </rollingPolicy>
      <!-- 日志输出的文件的格式 -->
      <encoder>
　　　　　 <pattern>${layout}</pattern>
　　　　</encoder>
　　</appender>

   <!-- 保存用户信息日志 -->
   <appender name="SaveUserInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${log.base}/saveUserInfo_%d{yyyyMMdd}.log</fileNamePattern>
      </rollingPolicy>
      <!-- 日志输出的文件的格式 -->
      <encoder>
　　　　　 <pattern>${layout}</pattern>
　　　　</encoder>
　　</appender>

   <!-- 保存头像日志 -->
   <appender name="SaveHead" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${log.base}/saveHead_%d{yyyyMMdd}.log</fileNamePattern>
      </rollingPolicy>
      <!-- 日志输出的文件的格式 -->
      <encoder>
　　　　　 <pattern>${layout}</pattern>
　　　　</encoder>
　　</appender>

   <!-- 修改密码日志 -->
   <appender name="ModifyPassword" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${log.base}/modifyPassword_%d{yyyyMMdd}.log</fileNamePattern>
      </rollingPolicy>
      <!-- 日志输出的文件的格式 -->
      <encoder>
　　　　　 <pattern>${layout}</pattern>
　　　　</encoder>
　　</appender>

   <!-- 添加图片日志 -->
   <appender name="AddImg" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${log.base}/addImg_%d{yyyyMMdd}.log</fileNamePattern>
      </rollingPolicy>
      <!-- 日志输出的文件的格式 -->
      <encoder>
　　　　　 <pattern>${layout}</pattern>
　　　　</encoder>
　　</appender>

   <!-- 添加笔记日志 -->
   <appender name="AddNote" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>${log.base}/addNote_%d{yyyyMMdd}.log</fileNamePattern>
      </rollingPolicy>
      <!-- 日志输出的文件的格式 -->
      <encoder>
　　　　　 <pattern>${layout}</pattern>
　　　 </encoder>
　　</appender>


   <logger name="Register" level="info" addtivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="Register" />
   </logger>
   <logger name="Login" level="info" addtivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="Login" />
   </logger>
   <logger name="SaveUserInfo" level="info" addtivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="SaveUserInfo" />
   </logger>
   <logger name="SaveHead" level="info" addtivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="SaveHead" />
   </logger>
   <logger name="ModifyPassword" level="info" addtivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="ModifyPassword" />
   </logger>
   <logger name="AddImg" level="info" addtivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="AddImg" />
   </logger>
   <logger name="AddNote" level="info" addtivity="false">
      <appender-ref ref="Console" />
      <appender-ref ref="AddNote" />
   </logger>
</configuration>