<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="padding-top: 10%">
        <div class="col-md-4 offset-md-4" style="border: 1px solid gainsboro;border-radius: 4px;padding: 20px 40px 20px 40px;">
            <h5 style="width: auto">登录<a href="#" style="float: right;font-size: 13px;color: #17a2b8;margin-top: 1%;">立即注册</a></h5>
            <hr style="margin-top: 2px"/>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" placeholder="用户名">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="密码">
                </div>
                <div class="form-check" style="margin-bottom: 5px;">
                    <input type="checkbox" class="form-check-input" id="loginOn">
                    <label class="form-check-label" for="loginOn" style="font-size: 13px;">保持登录状态</label>
                    <a href="#" style="float: right;font-size: 13px;color: #17a2b8;">忘记密码?</a>
                </div>
            </form>
            <button class="btn btn-info btn-block">登录</button>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>