<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- zico -->
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <!-- cropper图片裁剪控件 -->
    <link href="https://cdn.bootcss.com/cropper/3.1.3/cropper.min.css" rel="stylesheet">
    <title th:text="${title}"></title>
</head>
<body>
<!-- 公共header -->
<header th:replace="public :: header"></header>
<div class="container-fluid" style="padding-top: 56px;">
    <!-- 返回顶部按钮 -->
    <button th:replace="public :: toTopButton"></button>
    <div class="row" style="padding-top: 20px;padding-bottom: 20px">
        <div class="col-8 offset-2" id="noteDiv">
            <form>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" placeholder="请输入标题" v-model="title">
                </div>
                <div class="form-group">
                    <label for="note">内容</label>
                    <br/>
                    <div class="btn-group btn-group-sm" role="group" style="padding-top: 3px;padding-bottom: 3px">
                        <button type="button" class="btn btn-light"><i class="zi zi_fonts"></i></button>
                        <button type="button" class="btn btn-light" v-on:click="addImgModal"><i class="zi zi_fileGraph"></i></button>
                    </div>
                    <div class="form-control" contenteditable id="note" style="min-height:180px;" th:utext="${note}">

                    </div>
                </div>
            </form>
            <button type="submit" class="btn btn-warning" v-on:click="modifyNote">修改</button>
            <!-- 添加图片模态框 -->
            <div class="modal fade" id="addImgModal"  tabindex="-1" role="dialog" aria-labelledby="addImgModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="exampleModalLabel">添加图片</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form" enctype="multipart/form-data">
                                <p>请选择图片：</p>
                                <input type="file" name="file" id="file" v-model="file">
                                <br/>
                                <img src="" id="tempHead" hidden>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" v-on:click="addImg">保存</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 提醒模态框 -->
<div th:replace="public :: messageModal"></div>
<!-- 公共footer -->
<footer th:replace="public :: footer"></footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- vue -->
<script src="https://cdn.bootcss.com/vue/2.5.21/vue.min.js"></script>
<!-- axios -->
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<!-- cropper图片裁剪控件 -->
<script src="https://cdn.bootcss.com/cropper/3.1.3/cropper.min.js"></script>
<!-- 公共script -->
<script th:include="public :: public"></script>
<script th:inline="javascript">
    new Vue({
        el: "#noteDiv",
        data: {
            oldTitle: [[${title}]],
            title: [[${title}]],
            file: ""
        },
        methods: {
            addImgModal: function(){
                var _this = this;
                $("#addImgModal").on('hidden.bs.modal', function () {
                    _this.file = null;
                });
                $("#addImgModal").modal("show");
            },
            addImg: function(){
                //上传图片
                var r = new FileReader();
                var tmpImg = document.getElementById("file").files[0];
                r.readAsDataURL(tmpImg);
                r.onload = function () {
                    result = r.result;
                    //发送ajax请求
                    axios.post("/SpringBootDemo/addImg", {img: result}, {timeout: 60000})
                        .then(function (response) {
                            if(response.data.message == "success"){
                                range = window.getSelection().getRangeAt(0);
                                range.collapse(false);
                                var img = '<img alt="" src="' + '/' + response.data.img + '" />';
                                node = range.createContextualFragment(img);
                                var c = node.lastChild;
                                range.insertNode(node);
                                $("#addImgModal").modal("hide");
                            }
                            else{
                                messageModal.show("系统异常，请稍候再试。");
                            }
                        });
                };
            },
            modifyNote: function () {
                var note = $("#note").html();
                if(this.title == "" || note == ""){
                    messageModal.show("标题或内容为空！");
                }
                else{
                    var param = {oldTitle:this.oldTitle,title: this.title,note: note};
                    //发送ajax请求
                    axios.post("/SpringBootDemo/modifyNote", param, {timeout: 60000})
                        .then(function (response) {
                            if(response.data.message == "success"){
                                messageModal.toHomeAfterHide();
                                messageModal.show("保存成功！");
                            }
                            else{
                                messageModal.show("系统异常，请稍候再试。");
                            }
                        });

                }
            }
        }
    });
</script>
</body>
</html>