<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace：必须与对应的接口全类名一致
    id ：必须与对应接口的某个对应的方法名一致
 -->

<mapper namespace="com.xiaobai.springbootdemo.dao.UserMapper">
   
   <insert id="register" parameterType="java.lang.String">
       insert into user(username,password) value (#{username},#{password})
   </insert>
   
   <select id="checkUsername" parameterType="java.lang.String" resultType="java.lang.String">
       select 'repeat' flag from user where username = #{username}
   </select>
   
   <select id="queryUserByUsername" parameterType="java.lang.String" resultType="com.xiaobai.springbootdemo.bean.User">
       select * from user where username = #{username}
   </select>

   <update id="saveUserInfo" parameterType="java.lang.String">
       update user set nickname = #{nickname},sex = #{sex},email = #{email},mobile = #{mobile},
       birthday = #{birthday},introduce = #{introduce} where username = #{username}
   </update>

   <update id="saveHead" parameterType="java.lang.String">
       update user set head = #{head} where username = #{username}
   </update>

   <update id="modifyPassword" parameterType="java.lang.String">
       update user set password = #{password} where username = #{username}
   </update>
</mapper>